<div class="container">
    <div class="row">
      <h3>
        Select Player
      </h3>
    </div>
    <div class="row d-flex justify-content-evenly ">
        <div class="col-5">
            <div class="row">
                <h3>Team A</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Select</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Reepu</td>
                        <td>Batter</td>
                        <td><input type="checkbox"></td>
                      </tr>

                      <tr>
                        <td>Reepu</td>
                        <td>Batter</td>
                        <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                        <td>Reepu</td>
                        <td>Batter</td>
                        <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                        <td>Reepu</td>
                        <td>Batter</td>
                        <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                        <td>Reepu</td>
                        <td>Batter</td>
                        <td><input type="checkbox"></td>
                      </tr>
                    
                    
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <h3>Team B</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Select</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Reepu</td>
                        <td>Batter</td>
                        <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                        <td>Reepu</td>
                        <td>Batter</td>
                        <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                        <td>Reepu</td>
                        <td>Batter</td>
                        <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                        <td>Reepu</td>
                        <td>Batter</td>
                        <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                        <td>Reepu</td>
                        <td>Batter</td>
                        <td><input type="checkbox"></td>
                      </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
      <h3>Team ABCD</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Reepu</td>
            <td>Batter</td>
          </tr>
          <tr>
            <td>Reepu</td>
            <td>Batter</td>
          </tr>
          <tr>
            <td>Reepu</td>
            <td>Batter</td>
          </tr>
          <tr>
            <td>Reepu</td>
            <td>Batter</td>
          </tr>
          <tr>
            <td>Reepu</td>
            <td>Batter</td>
          </tr>
          <tr>
            <td>Reepu</td>
            <td>Wicket Keeper</td>
          </tr>
          <tr>
            <td>Reepu</td>
            <td>Bowler</td>
          </tr>
          <tr>
            <td>Reepu</td>
            <td>Bowler</td>
          </tr>
          <tr>
            <td>Reepu</td>
            <td>Bowler</td>
          </tr>
          <tr>
            <td>Reepu</td>
            <td>Bowler</td>
          </tr>
          <tr>
            <td>Reepu</td>
            <td>Bowler</td>
          </tr>
        
        </tbody>
    </table>
    </div>

    
</div>