<div class="container">
    <div class="row text-center mb-3">
        <h3>My Bets</h3>
    </div>

    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Match Id</th>
                <th scope="col">Match Type</th>
                <th scope="col">Fees Coins</th>
                <th scope="col">Wining Rate</th>
                <th scope="col">Wining Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#0001</td>
                <td>Head To Head</td>
                <td>500</td>
                <td>x2</td>
                <td>Pening</td>
                
              </tr>
            
            </tbody>
          </table>
    </div>
</div>
